.inter {
  font-family: "DM Sans", sans-serif;
  font-family: "Inter", sans-serif;
}

.bg_img {
  background-image: url("../Assects/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.pic {
  background-image: url("../Assects/Pic.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide_img {
  background-image: url("../Assects/slide1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide_img1 {
  background-image: url("../Assects/slide2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.gredient {
  background-image: url("../Assects/Solid\ 60%\ fill.png");
}
.gradient2 {
  background-image: url("../Assects/Gradient.png ");
}

.ppright {
  font-family: "PP Right Grotesk";
}
.line_height {
  line-height: 84px;
}
.spacing {
  letter-spacing: -3px;
}
.underline_1 {
  background-image: url("../Assects//line.png");
  background-repeat: no-repeat;
  background-position: 0 80%;
  background-size: 100%;
}

.accordion {
  max-width: 768px;
}

.accordion-item {
  list-style: none;
}
.trimes {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.5px;
  padding: 8px 0;
}

.accordion-toggle {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

rdion-toggle h3 {
  margin: 0;
}

/* scroll */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-190px * 6));
  }
}
.sliding_logo {
  height: 100px;
  margin: auto;
  width: auto;
  overflow: hidden;
  position: relative;
  margin-top: 30px;
}
.slide_track {
  animation: scroll 10s linear infinite;
  display: flex;
  width: calc(190px * 12);
  align-items: center;
  justify-content: space-between;
  gap: 6px;
}

.slide {
  width: 190px;
  height: 100px;
}
